
.root {
    -fx-background-color: #091725;
}
.button {
    -fx-background-radius: 33;
    -fx-background-color: BA450D;
    -fx-color: White;

}
.input {
    -fx-background-radius: 20;
    -fx-background-color: White;
    -fx-color: black;

}